{% extends 'main.html' %}
{% load static %}
{% block title %}
    Agregar Intermediario
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 ">
                <div class="card ">
                    <div class="container">
                        <div class="card-content black-text">
                            <div class="row center">
                                <div class="col s12 ">
                                    <span class="flow-text">Agregar Intermediario</span>
                                </div>

                            </div>
                            <div class="row valign-wrapper">
                                <div class="col s12 m12 l12">
                                    <form method="POST" action="">
                                        {% csrf_token %}
                                        <div class="row center">
                                            <div class="input-field col s12  ">
                                                <input name="nombre" id="nombre" type="text" class="validate">
                                                <label for="nombre">Nombre</label>
                                            </div>
                                        </div>

                                        <div class="row center">
                                            <div class="input-field col s12 ">
                                                <input name="telefono" id="telefono" type="text" class="validate">
                                                <label for="telefono">Telefono</label>
                                            </div>
                                        </div>




                                </div>
                                <div class="row">
                                    <button class="btn waves-effect waves-light green lighten-1" type="submit"
                                            name="action">Log in
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                                </form>
                            </div>

                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>
    </div>
    </div>

{% endblock %}