{% extends 'main.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}
{% block content %}
<div class="section white">
<div class="row container">
</div>
</div>
<div class="section white hoverable">
    <div class="row container" >
        <div class="col s12 m12 l6">
            <h2 class="header show-on-large hide-on-med-and-down ">Impulsamos la transformación de los desechos plásticos</h1>
            
            <h4 class="header show-on-small hide-on-med-and-up">Impulsamos la transformación de los desechos plásticos</h3>
            
            
            <h3 class="header show-on-medium hide-on-large-only hide-on-small-only">Impulsamos la transformación de los desechos plásticos</h2>
            
        </div>
        <div class="col s12 m12 l6">
            <img height="100%" width="100%" src="{% static '/media/Imagen-portada-800x735.jpg' %}">
        </div>

    </div>
</div>

<div class="section grey lighten-3 hoverable">
    <div class="row container">
        <div class="col s12 m6 l6">
            <img height="100%" width="100%" src="{% static '/media/Eco-puntos-200x200.png' %}">
        </div>
        <div class="col s12 m6 l6">
            <h2 class="header show-on-large hide-on-med-and-down">¡Encuentra tu Eco Punto mas cercano!</h1>
            <h3 class="header show-on-medium hide-on-large-only hide-on-small-only">¡Encuentra tu Eco Punto mas cercano!</h1>
            <h4 class="header show-on-small hide-on-med-and-up">¡Encuentra tu Eco Punto mas cercano!</h1>
            
            <p class="grey-text text-darken-3 lighten-3">Busca Eco Puntos cerca de tu barrio o accede a servicios de recoleccion a domicilio</p>
        </div>
        

    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="{% static '/media/Imagen-portada-800x735.jpg' %}"></div>
</div>


{%endblock%}