{% extends 'main.html' %}
{% load static %}
{% block title %}
Inicio
{% endblock %}
{% block content %}
<div class="section white">
    <div class="row container" >
        <div class="col s12 m12 l6">
            <h2 style="margin-top: 30%; margin-right:20%" class="header show-on-large hide-on-med-and-down; center-align ">Impulsamos el movimiento verde para hacer el mundo mejor</h2>
        </div>
        
        <div class="col s12 m12 l6">
            <img height="100%" width="100%" src="{% static '/media/Imagenmundo.jpg' %}">
        </div>
    </div>
</div>

<div class="section grey lighten-3 ">
    <div class="row container">
        <div class="col s12 m6 l6">
            <img height="100%" width="100%" src="{% static '/media/Eco-puntos-200x200.png' %}">
        </div>
        <div class="col s12 m6 l6; center">
            <h2 style="margin-top: 30%; margin-left:20%" class="header show-on-large hide-on-med-and-down; center-align">¡Encuentra tu Eco Punto mas cercano!</h1>
            
            <p style="font-size: 20px;margin-left:20%"class="grey-text text-darken-3 lighten-3; center-align ">Busca Eco Puntos cerca de tu barrio o accede a servicios de recoleccion a domicilio</p>
        </div>
        

    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="{% static '/media/background1.jpg' %}"></div>
</div>
{%endblock%}