{% extends 'main.html' %}
{% load static %}
{% block title %}
    Intermediario
{% endblock %}

{% block content %}        
    <input type="text" id="current-form" hidden >
    <div class="row">
        <h3 class="center-align">Intermediarios</h3>
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6"><a class="active" href="#administrar">Administrar</a></li>
                <li class="tab col s6"><a href="#new_object">Crear Nuevo</a></li>
            </ul>
        </div>
        <div id="administrar" class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title"><b>Administrar Intermediarios</b></span>
                    <table class="responsive-table highlight">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Telefono</th>
                            <th>puntos</th>
                            <th>Dias Disponibles</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for i in intermediarios_form %}
                            <tr>
                                <td>{{ i.object.nombre }}</td>
                                <td>{{ i.object.telefono }}</td>
                                <td>{{ i.object.getPuntosName }}</td>
                                <td>{{ i.object.getDias }}</td>
                                <td>
                                    <a data-tooltip="'Click' para editar el intermediario" class="btn-floating btn-small waves-effect waves-light green lighten-1 modal-trigger tooltipped"
                                       href="#modal{{ i.object.id }}"><i
                                            class="material-icons">edit</i></a>
                                    <form method="POST" name="form{{ punto.id }}" id="form{{ i.object.id }}" action="{% url 'updateintermediario' i.object.id %}">
                                        <div id="modal{{ i.object.id }}" class="modal" style="overflow-y: visible;">
                                            <div class="modal-content">
                                                <h6>Editar intermediario '{{ i.object.nombre }}'</h6>
                                                {% csrf_token %}
                                                {{i.form.as_p}}
                                                
                                            </div>
                                            <div class="modal-footer">
                                                <a class="modal-close waves-effect btn-flat">Cancelar</a>
                                                <button type="submit" class="waves-effect btn-flat">Guardar</button>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                                <td><label>
                                <a data-tooltip="'Click' para eliminar el intermediario" href="#modalDelete{{ i.object.id }}" class="btn-floating btn-small waves-effect waves-light green lighten-1 modal-trigger tooltipped"><i
                                         class="material-icons">delete</i></a></td>
                                <div id="modalDelete{{ i.object.id }}" class="modal">
                                    <div class="modal-content">
                                        <h4>Eliminar intermediario</h4><br>
                                        <p>¿Seguro quiere eliminar el intermediario {{ i.object.nombre }}?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a data-tooltip="'Click' para cancelar eliminacion" class="modal-close waves-effect btn-flat tooltipped">Cancelar</a>
                                        <a data-tooltip="'Click' para eliminar definitivamente al intermediario" href="{% url 'deleteintermediario' i.object.id %}" class="waves-effect btn-flat red white-text">Eliminar</a>
                                    </div>
                                </div>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
        <div id="new_object" class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title"><b>Crear Intermediario</b></span>
                    <form method="post" name="formNew" id="formNew" >
                        {% csrf_token %}
                        {{form.as_p}}
                        <div class="center-align">
                            <button data-tooltip="'Click' para crear un nuevo punto de acopio." class="btn waves-effect waves-light green tooltipped" type="submit">
                            <i class="material-icons right">create</i>Crear
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div id="modalmap" class="modal" style="overflow-y: visible;">
            <div class="modal-content scrollspy" >
                {% include "googleMaps.html" %}
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect btn-flat">Cancelar</a>
                <a data-tooltip="'Click' para guardar sus cambios" class="modal-close btn btn-small waves-effect waves-light green lighten-1 modal-trigger tooltipped"
                href="#latlong"><i
                        class="material-icons right">save</i>Guardar</a>
            </div>
        </div>
        <div id="latlong" class="modal" style="overflow-y: visible;">
            <div class="modal-content" >
                latitud y longitud actualizados con exito
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect btn-flat" >Aceptar</a>
            </div>
        </div>
    </div>



{% endblock %}