{% extends 'main.html' %}
{% load static %}
{% block title %}
    Intermediarios
{% endblock %}

{% block content %}
    <div class="row">
        <h3 class="center-align">Administrar Intermediarios</h3>
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                    <table>
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Telefono</th>
                                <th>Puntos de Acopio</th>
                                <th>Dias de Recoleccion</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for intermediario in intermediarios %}
                            <tr>
                                <td>{{ intermediario.nombre }}</td>
                                <td>{{ intermediario.telefono }}</td>
                                <td>{{ intermediario.getPuntosName }}</td>
                                <td>{{ intermediario.diasRecoleccion }}</td>
                                <td>
                                    <a class="btn-floating btn-small waves-effect waves-light green lighten-1 modal-trigger" href="{% url 'updateintermediario' intermediario.id  %}"><i
                                            class="material-icons">edit</i></a>
                                </td>
                                <td>
                                    <a href="#modalDelete{{ intermediario.id }}" class="btn-floating btn-small waves-effect waves-light green lighten-1 modal-trigger"><i
                                            class="material-icons">delete</i></a>
                                </td>
                                <div id="modalDelete{{ intermediario.id }}" class="modal">
                                    <div class="modal-content">
                                        <h4>Eliminar Intermediario</h4><br>
                                        <p>¿Seguro quiere eliminar a {{ intermediario.nombre }}?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#"data-tooltip="'Click' para cancelar eliminacion"   class="modal-close waves-effect btn-flat tooltipped">Cancelar</a>
                                        <a href="{% url 'deleteintermediario' intermediario.id  %}" data-tooltip="'Click' para eliminar el intermediario"  class="btn waves-effect waves-light green lighten-1 tooltipped" >Eliminar</a>
                                    </div>
                                </div>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
    </div>
    <div class="row center-align">
        <div class="col s12">
            <a href="{% url 'addintermediario' %}" data-tooltip="'Click' para crear un nuevo intermediario" class="waves-effect waves-light btn-large green lighten-1 tooltipped" >Agregar Intermediario<i
                                                class="material-icons right">add</i></a>
        </div
    </div>
{% endblock %}