{% extends 'main.html' %}
{% load static %}
{% block title %}
Somos
{% endblock %}
{% block content %}

    <div class="section white">
        <div class="row">
            <div class="col s12 m6 l6  offset-m1 offset-l1">
                    <p style="font-size: 30px; line-height:36,57; margin-bottom:6px;">Descubrí</p>
                    <h1 style="font-weight: bold; margin-bottom:15px;text-shadow: 0 3px 0 grey;" class="">APP Ecoinclusión</h1>
                    <p style="font-size:22px; line-heigh:30px; margin-bottom:15px;" >Registrate con tu usuario y contraseña <br> y empezá a hacer el cambio. </p>
                    <img src="{% static '/media/googleplay.png' %}" width="30%">
                </div>

            <div class="col s12 l5 m5"> 
                <img src="{% static '/media/celular.png' %}" width="65%">
            </div>
            </div>
        </div>
    <div class="section grey lighten-2">
        <div class="row container">
            <h3 class="green-text">¿Qué puedo hacer en la app?</h3>
            <ul class="grey-text" style="font-size: 21px;">
                <li>- Encontrar los puntos de acopio mas cercanos a vos.</li>
                <li>- Agendar un encuentro con un intermediario para que retire tus ecoladrillos.</li>
                <li>- Ver todas tus estadísticas acerca de tus donaciones.</li>
                <li>- Informarte sobre las cooperativas asociadas a ecoinclusion</li>
                <li>¡Y mucho más!</li>
            </ul>
        </div>
    </div>
            
{% endblock %}