{% extends 'main.html' %}
{% load static %}
{% block title %}
Somos
{% endblock %}
{% block content %}

    <div class="section white">
        <div class="row container center-align">
            <div class="col s12 m10 l10 offset-l1 offset-m1">
                <div class="row ">
                    <img src="{% static '/media/Icono-somos.png' %}">
                </div>
                <div class="row ">
                    <h1 class="header">MOBILE</h1>

                    <p class="grey-text text-darken-3 lighten-3 left-align">La problemática de los desechos plásticos
                        convoca a un estado de emergencia climática y social a nivel mundial, donde nuestros hábitos
                        individuales y acciones colectivas necesitan ser redireccionadas hacia un paradigma de
                        sustentabilidad y triple impacto. Por eso queremos facilitar a que cada vez mas usuarios
                        reciclen.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section grey lighten-4">
        <div class="row container center-align valign-wrapper">
            <div class="col s12 m6 l6">
                <div class="row container center-align">
                    <img width="100%" src="{% static '/media/logo-ecoinclusion.png' %}">
                </div>
            </div>
            <div class="col s12 m6 l6">
                <img width="40%" src="{% static '/media/villada.png' %}">
            </div>
        </div>
        <div class="row container center-align valign-wrapper">
            <div class="col s12 m12 l12">
                <p class="grey-text text-darken-3 lighten-3">Ecoinclusion junto a Estudiantes del ITS Villada
                    desarrollan esta propuesta de reciclaje.</p>
            </div>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax">
            <div class="parallax"><img src="{% static '/media/Imagen-portada-800x735.jpg' %}"></div>
        </div>
    </div>

{% endblock %}