{% extends 'main.html' %}

{% block content %}

<div class="container">
    

    <div class="row">
        <h1>Se ha enviado el mail para cambiar tu contraseña</h1>
        
    </div>
    <div class="row">
        <p>Te enviamos un mail con las intrucciones para cambiar tu contraseña. Si no hay una cuenta asociada a el mail ingresado. Deberias recibirlo en un momento.</p>
    </div>

    
    <div class="row">
        <p>Si no recibiste el mail, asegurate de que lo que ingresaste es el mismo mail con el que te registraste, y revisa tu carpeta de spam.</p>
    </div>

    
</div>
{% endblock %}