{% extends 'main.html' %}

{% block content %}
<div class="container">
    

    <div class="row">
        <h1>Cambiar contraseña</h1>
        
    </div>
    <div class="row">
        <p class="flow-text">Has olvidado tu contraseña? Pone tu mail abajo, y vamos a mandarte las instrucciones para cambiar a una nueva.</p>
    </div>

    
    <form method="POST" action="">
        {% csrf_token %}
        
        
        {{ form.as_p }}
        <div class="row right-align">
            <button class="btn waves-effect waves-light green lighten-1" type="submit" name="action">Enviar mail
                <i class="material-icons right">send</i>
            </button>
        </div>
    
    </form>
    
    
    
</div>
{% endblock %}