{% extends 'main.html' %}
{% load static %}
{% block title %}
    Puntos de Acopio
{% endblock %}

{% block content %}
    <input type="text" id="current-form" hidden >
    <div class="row">
        <h3 class="center-align">Puntos de Acopio</h3>
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6"><a class="active" href="#administrar">Administrar</a></li>
                <li class="tab col s6"><a href="#new_object"><i class="material-icons right">add</i>Crear Nuevo</a></li>
            </ul>
        </div>
        <div id="new_object" class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title"><b>Crear Punto de Acopio</b></span>
                    <!---onsubmit="getFields('formNewPunto',function(data){getUrl('http://ecoinclusion.herokuapp.com/api/',data,'puntos',getCookie('csrftoken'),function(url,data){ajaxRequest(url,getCookie('csrftoken'),'post',data,function(data){console.log('Punto creado');addTd(data,['id','centro','tipo_de_reciclado'],document.getElementById('puntos'))})})}); return false;"-->
                    <form method="POST"  name="formNewPunto" id="formNewPunto">
                        {% csrf_token %}
                        
                        {{form.as_p}}
                        {{form.error}}
                        <div class="center-align">
                            <button data-tooltip="'Click' para crear un nuevo punto de acopio." class="btn waves-effect waves-light green tooltipped" type="submit">
                            <i class="material-icons right">add</i>Aceptar
                            </button>
                        </div>

                    </form>
                    
                </div>
            </div>
        </div>
        <div id="administrar" class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title"><b>Administrar Puntos de Acopio</b></span>
                    <table class="responsive-table highlight">
                        <thead>
                        <tr>
                            <th>Punto de Acopio</th>
                            <th>Latitud</th>
                            <th>Longitud</th>
                            <th>Tipo de Reciclado</th>
                            <th>Intermediarios</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody id="puntos">
                        {% for i in puntos_form %}
                            <tr>
                                <td>{{ i.object.nombre }}</td>
                                <td>{{ i.object.lat }}</td>
                                <td>{{ i.object.long }}</td>
                                <td>{{ i.object.getTiporeciclado }}</td>
                                <td>{{ i.object.cant_intermediarios }}</td>
                                <td>
                                    <a data-tooltip="'Click' para editar el punto de acopio" class="btn-floating btn-small waves-effect waves-light green lighten-1 modal-trigger tooltipped"
                                       href="#modal{{ i.object.id }}"><i
                                            class="material-icons">edit</i></a>
                                    <form method="POST" name="form{{ punto.id }}" id="form{{ i.object.id }}" action="{% url 'updatepunto' i.object.id %}">
                                        <div id="modal{{ i.object.id }}" class="modal" style="overflow-y: visible;">
                                            <div class="modal-content">
                                                <h6>Editar punto de Acopio '{{ i.object.nombre }}'</h6>
                                                {% csrf_token %}
                                                {{i.form.as_p}}
                                                <div class="input-field center">
                                                    <a onclick="setForm('formNewPunto')"data-tooltip="'Click' para buscar o seleccionar un punto en el mapa" class="btn btn-small waves-effect waves-light green lighten-1 modal-trigger tooltipped"
                                                    href="#modalmap"><i
                                                            class="material-icons right">map</i>seleccionar Ubicacion en el mapa</a>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <a class="modal-close waves-effect btn-flat">Cancelar</a>
                                                <button class="waves-effect btn-flat">Guardar</button>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                                <td><label>
                                <a data-tooltip="'Click' para eliminar el punto de acopio" href="#modalDelete{{ i.object.id }}" class="btn-floating btn-small waves-effect waves-light green lighten-1 modal-trigger tooltipped"><i
                                         class="material-icons">delete</i></a></td>
                                <div id="modalDelete{{ i.object.id }}" class="modal">
                                    <div class="modal-content">
                                        <h4>Eliminar Punto de Acopio</h4><br>
                                        <p>¿Seguro quiere eliminar el punto {{ punto.nombre }}?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a data-tooltip="'Click' para cancelar eliminacion" class="modal-close waves-effect btn-flat tooltipped">Cancelar</a>
                                        <a data-tooltip="'Click' para eliminar definitivamente al punto" href="{% url 'deletepunto' i.object.id %}" class="waves-effect btn-flat red white-text">Eliminar</a>
                                    </div>
                                </div>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="modalmap" class="modal" style="overflow-y: visible;">
            <div class="modal-content scrollspy" >
                {% include "googleMaps.html" %}
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect btn-flat">Cancelar</a>
                <a data-tooltip="'Click' para guardar sus cambios" class="modal-close btn btn-small waves-effect waves-light green lighten-1 modal-trigger tooltipped"
                href="#latlong"><i
                        class="material-icons right">save</i>Guardar</a>
            </div>
        </div>
        <div id="latlong" class="modal" style="overflow-y: visible;">
            <div class="modal-content" >
                latitud y longitud actualizados con exito
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect btn-flat" >Aceptar</a>
            </div>
        </div>
    </div>



{% endblock %}