{% extends 'main.html' %}
{% load static %}
{% block title %}
    Puntos de Acopio
{% endblock %}

{% block content %}
    <input type="text" id="current-form">
    <div class="row">
        <h3 class="center-align">Puntos de Acopio</h3>
        <div class="col s12 m6 l6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title"><b>Crear Punto de Acopio</b></span>
                    <form method="post" name="formNewPunto" id="formNewPunto"  action="{% url 'updatepunto' %}">
                        {% csrf_token %}
                        <div class="input-field">
                            <input id="nombre_punto" type="text" name="nombre_punto" required="">
                            <label for="nombre_punto">Nombre del Punto</label>
                        </div>
                        <span>Coordenadas</span>
                        <div class="input-field">
                            <input id="latittude" type="text" name="latittude"
                                    required value="0.0">
                            <label for="latittude">Longgitud</label>
                        </div>
                        <div class="input-field">
                            <input id="longittude" type="text" name="longittude"
                                    required value="0.0">
                            <label for="longittude">latitud</label>
                        </div>
                    
                        <div class="input-field center">
                            
                            <a onclick="setForm('formNewPunto')" class="btn btn-small waves-effect waves-light green lighten-1 modal-trigger"
                            href="#modalmap"><i
                                    class="material-icons right">map</i>o seleccionar Ubicacion en el mapa</a>
                            
                        </div>
                        <div class="input-field">
                            <select id="tipo_reciclado" name="tipo_reciclado" required multiple>
                                <option value="Papel y Carton">Papel y Carton</option>
                                <option value="Residuos Organicos">Residuos Organicos</option>
                                <option value="Plastico">Plastico</option>
                                <option value="Vidrio">Vidrio</option>
                                <option value="Pilas y Baterias">Pilas y Baterias</option>
                                <option value="Metales">Metales</option>
                                <option value="Electronica">Electronica</option>
                            </select>
                            <label>Tipo de Reciclado</label>
                        </div>
                        <div class="center-align">
                            <button style="width: 20%;" class="btn waves-effect waves-light green" type="submit"
                            >Crear
                            </button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
        <div id="modalmap" class="modal" style="overflow-y: visible;">
            <div class="modal-content" >
                {% include "googleMaps.html" %}
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect btn-flat" >Cancelar</a>
                <a class="modal-close waves-effect btn-flat" >Guardar</a>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title"><b>Administrar Puntos de Acopio</b></span>
                    <table>
                        <thead>
                        <tr>
                            <th>Punto de Acopio</th>
                            <th>Ubicacion</th>
                            <th>Tipo de Reciclado</th>
                            <th>Intermediarios</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for punto in puntos %}
                            <tr>
                                <td>{{ punto.nombre }}</td>
                                <td>{{ punto.ubicacion }}</td>
                                <td>{{ punto.tipoDeReciclado }}</td>
                                <td>{{ punto.cant_intermediarios }}</td>
                                <td>
                                    <a class="btn-floating btn-small waves-effect waves-light green lighten-1 modal-trigger"
                                       href="#modal{{ punto.id }}"><i
                                            class="material-icons">edit</i></a>
                                    <div id="modal{{ punto.id }}" class="modal" style="overflow-y: visible;">
                                        <form method="POST" name="form{{ punto.id }}" id="form{{ punto.id }}" action="{% url 'updatepunto' %}">
                                            <div class="modal-content">
                                                <h4>Editar punto de Acopio</h4><br>
                                                {% csrf_token %}
                                                <input type="hidden" name="id" value="{{ punto.id }}">
                                                <div class="input-field">
                                                    <input id="nombre_punto_modal" type="text" name="nombre_punto"
                                                            required value="{{ punto.nombre }}">
                                                    <label for="nombre_punto_modal">Nombre del Punto</label>
                                                </div>
                                                <span>Coordenadas</span>
                                                <div class="input-field">
                                                    <input id="latittude" type="text" name="latittude"
                                                            required value="{{ punto.lat }}">
                                                    <label for="latittude">Longitud</label>
                                                </div>
                                                <div class="input-field">
                                                    <input id="longittude" type="text" name="longittude"
                                                            required value="{{ punto.long }}">
                                                    <label for="longittude">latitud</label>
                                                </div>
                                            
                                                <div class="input-field center">
                                                    
                                                    <a onclick="setForm('form{{ punto.id }}')" class="btn btn-small waves-effect waves-light green lighten-1 modal-trigger"
                                                    href="#modalmap"><i
                                                            class="material-icons right">map</i>o seleccionar Ubicacion en el mapa</a>
                                                    
                                                </div>
                                                <div class="input-field">
                                                    <select name="tipo_reciclado" required multiple>
                                                        <option {% if "Papel y Carton" in punto.tipoDeReciclado %}selected{% endif %}
                                                                value="Papel y Carton">Papel y Carton</option>
                                                        <option {% if "Residuos Organicos" in punto.tipoDeReciclado %}selected{% endif %}
                                                                value="Residuos Organicos">Residuos Organicos</option>
                                                        <option {% if "Plastico" in punto.tipoDeReciclado %}selected{% endif %}
                                                                value="Plastico">Plastico</option>
                                                        <option {% if "Vidrio" in punto.tipoDeReciclado %}selected{% endif %}
                                                                value="Vidrio">Vidrio</option>
                                                        <option {% if "Pilas y Baterias" in punto.tipoDeReciclado %}selected{% endif %}
                                                                value="Pilas y Baterias">Pilas y Baterias</option>
                                                        <option {% if "Metales" in punto.tipoDeReciclado %}selected{% endif %}
                                                                value="Metales">Metales</option>
                                                        <option {% if "Electronica" in punto.tipoDeReciclado %}selected{% endif %}
                                                                value="Electronica">Electronica</option>
                                                    </select>
                                                    <label>Tipo de Reciclado</label>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <a class="modal-close waves-effect btn-flat">Cancelar</a>
                                                <button type="submit" class="waves-effect btn-flat">Guardar</button>
                                            </div>
                                        </form>
                                    </div>
                                </td>
                                <td><label>
                                <a href="#modalDelete{{ punto.id }}" class="btn-floating btn-small waves-effect waves-light green lighten-1 modal-trigger"><i
                                         class="material-icons">delete</i></a></td>
                                <div id="modalDelete{{ punto.id }}" class="modal">
                                    <div class="modal-content">
                                        <h4>Eliminar Punto de Acopio</h4><br>
                                        <p>¿Seguro quiere eliminar el punto {{ punto.nombre }}?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="" class="modal-close waves-effect btn-flat">Cancelar</a>
                                        <a href="updatepunto/delete/{{ punto.id }}" type="submit" class="waves-effect btn-flat red white-text">Eliminar</a>
                                    </div>
                                    </form>
                                </div>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



{% endblock %}