{% extends 'main.html' %}
{% load static %}
{% block title %}
    Puntos de Acopio
{% endblock %}

{% block content %}
    <input type="text" value="formNewPunto" id="current-form" hidden >
    <div class="row">
        <h1 class="center-align">Puntos de Acopio</h1>
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6"><a class="active" href="#administrar">Administrar</a></li>
                <li class="tab col s6"><a href="#new_object">Crear Nuevo</a></li>
            </ul>
        </div>
        <div id="new_object" class="col s12 m12 l12">
            <form method="POST"  name="formNewPunto" id="formNewPunto">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title"><b>Crear Punto de Acopio</b></span>

                        
                        {% csrf_token %}
                        {{form.as_p}}
                        <div class="input-field center">
                            <a onclick="setForm('formNewPunto')"data-tooltip="Buscar o seleccionar un punto en el mapa" class="btn btn-small waves-effect waves-light green lighten-1 modal-trigger tooltipped" href="#modalmap">
                                <i class="material-icons right">map</i>
                                Seleccionar Ubicacion en el mapa
                            </a>
                        </div>
                        {{form.error}}
                    
                    </div>
                    <div class="card-action right-align">
                    <button data-tooltip="Crear nuevo punto de acopio" class="btn waves-effect waves-light green tooltipped" type="submit">
                            <i class="material-icons right">add</i>Crear
                        </button>
                    </div>
                </div>
                
                            

                
            </div>
        </form>
        <div id="administrar" class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title"><b>Administrar Puntos de Acopio</b></span>
                    <table class="responsive-table highlight">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Direccion</th>
                            <th>Tipo de Reciclado</th>
                            <th>Intermediarios</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody id="puntos">
                        {% for i in puntos_form %}
                            <tr>
                                <td>{{ i.object.nombre }}</td>
                                <td>{{ i.object.direccion }}</td>
                                <td>{{ i.object.getTiporeciclado }}</td>
                                <td>{{ i.object.cant_intermediarios }}</td>
                                <td>
                                    <a data-tooltip="Editar" class="btn-floating btn-small waves-effect waves-light green lighten-1 modal-trigger tooltipped" href="#modal{{ i.object.id }}">
                                        <i class="material-icons">edit</i>
                                    </a>
                                    <form method="POST" name="form{{ i.object.id }}" id="form{{ i.object.id }}" action="{% url 'updatepunto' i.object.id %}">
                                        <div id="modal{{ i.object.id }}" class="modal" style="overflow-y: visible;">
                                            <div class="modal-content">
                                                <h4>Editar punto de Acopio '{{ i.object.nombre }}'</h4>
                                                {% csrf_token %}
                                                {{i.form.as_p}}
                                                <div class="input-field center">
                                                    <a onclick="setForm('form{{ i.object.id }}')"data-tooltip="Buscar o seleccionar un punto en el mapa" class="btn btn-small waves-effect waves-light green lighten-1 modal-trigger tooltipped" href="#modalmap">
                                                        <i class="material-icons right">map</i>
                                                        Seleccionar ubicacion en el mapa
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <a class="modal-close waves-effect btn-flat">Cancelar</a>
                                                <button data-tooltip="Guardar cambios" class="modal-close btn waves-effect waves-light green tooltipped" type="submit">
                                                    <i class="material-icons right">save</i>Guardar
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                                <td>
                                    <a data-tooltip="Eliminar" href="#modalDelete{{ i.object.id }}" class="btn-floating btn-small waves-effect waves-light green lighten-1 modal-trigger tooltipped">
                                        <i class="material-icons">delete</i>
                                    </a>
                                </td>
                                <div id="modalDelete{{ i.object.id }}" class="modal">
                                    <div class="modal-content">
                                        <h4>Eliminar Punto de Acopio '{{ i.object.nombre }}'</h4><br>
                                        <p>¿Seguro quiere eliminar el punto de acopio?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a data-tooltip="Cancelar" class="modal-close waves-effect btn-flat tooltipped">Cancelar</a>
                                        <a data-tooltip="Eliminar definitivamente" href="{% url 'deletepunto' i.object.id %}" class="modal-close waves-effect btn-flat red white-text">
                                            <i class="material-icons right">delete</i>
                                            Eliminar
                                        </a>
                                    </div>
                                </div>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% include "googleMaps.html" %}
            
    </div>



{% endblock %}