{% extends 'main.html' %}
{% load static %}
{% block title %}
Register
{% endblock %}

{% block content %}
<style>
.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;

}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  /*whatever width you want*/
}
</style>
<div class="container">
    <div class="row">
        <div class="col s12 " >
            <div class="card ">
                <div class="container">
                    <div class="card-content black-text">
                        <div class="row center">
                            <div class="col s12 " >
                                <span class="flow-text" >Sign up</span>
                            </div>
                            
                        </div>
                        <div class="row center" >
                            <div class="col s12">
                                <form method="POST" action="">
                                    {% csrf_token %}
                                    {{form.as_p}}
                                        
                                        <div class="row center">
                                            <button class="btn waves-effect waves-light green lighten-1" type="submit" name="action">Sign up
                                                <i class="material-icons right">send</i>
                                            </button>
                                        </div>
                                        <div class="row center">
                                            {% for message in messages%}
                                            <div class="red-text" role="alert">{{message}}</div>
                                                
                                            {% endfor %}
                                        </div>
                                    
                                    
                                </form>
                            </div>

                        </div>
                    </div>
                    
                    <div class="card-action">    
                        
                        <div class="row center">
                            Ya tienes Cuenta? <a href="{% url 'login' %}" class="ml-2 green-text">Inicia Sesion</a>
                        </div>
                    </div>
                        
                    
                        
                    
                </div>
            </div>
        </div>  
    </div>
</div>

{% endblock %}