{% extends 'main.html' %}
{% load static %}
{% block title %}
Somos
{% endblock %}
{% block content %}

    <div class="section">
        <div class="row container ">
            
            <div class="col s12 m6 l6">
                <h1 class="header"> ¿Quienes Somos?</h1>
                <p class="flow-text" style="margin-top: 10%;">Somos un grupo de estudiantes del Instituto Tecnico Salesiano Villada, de la especialidad Programación. Como proyecto de fin de curso nos propusimos crear una aplicación que le facilite e incentive el reciclado en las personas. A su vez le permite tener una trazabilidad de sus diferentes puntos de acopio a las cooperativas/empresas.</p>
            </div>
            <div class="col s12 m6 l6">
                <img class="z-depth-2" height="50%" style="margin-top: 8%;" src="{% static '/media/Team.jpg'%}">
            </div>
        </div>
    </div>
    <div class="section z-depth-4">
        <div class="row container ">
            <div class="col s12 m6 l6">
                <img height="35%" style="margin-top: 8%;" src="{% static '/media/Icono-somos1.png'%}">
            </div>
            <div class="col s12 m6 l6">
                <h1 class="header">Manifiesto</h1>
                <p class="flow-text" style="margin-top: 10%;">El problema de los desechos, ha desencadenado en cambios climaticos y sociales preocupantes a escala mundial por ello nuestras acciones y habitos deben ser dirigidos hacia un paradigma de triple impacto. Para ello queremos que estas acciones sean lo mas sencillas de realizar para los usuarios que busquen reciclar.</p>
            </div>
            
        </div>
    </div>
    <div class="section grey lighten-3">
        <div class="row container center-align valign-wrapper">
            <div class="col s12 m6 l6">
                <div class="row container center-align">
                    <img width="70%" src="{% static '/media/logo_completo.png' %}">
                </div>
            </div>
            <div class="col s12 m6 l6">
                <img width="30%" src="{% static '/media/villada.png' %}">
            </div>
        </div>
        <div class="row container center-align valign-wrapper">
            <div class="col s12 m12 l12">
                <p class="grey-text text-darken-3 lighten-3"><h6>EcoPuntos creado por Estudiantes del ITS Villada.</h6></p>
            </div>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax">
            <div class="parallax"><img src="{% static '/media/background1.jpg' %}"></div>
        </div>
    </div>

{% endblock %}