{% extends 'main.html' %}
{% load static %}
{% block title %}
    Update Intermediario
{% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col s12 ">
                <div class="card ">
                    <div class="container">
                        <div class="card-content black-text">
                            <div class="row center">
                                <div class="col s12 ">
                                    <span class="flow-text">Editar Intermediario {{intermediario.nombre}}</span>
                                </div>
                            </div>
                            <div class="row valign-wrapper">
                                <div class="col s12 m12 l12">
                                    <form method="POST" action="">
                                        {% csrf_token %}
                                        {{form.nombre.label}}
                                        {{form.nombre}}
                                        {{form.telefono.label}}
                                        {{form.telefono}}
                                        {{form.puntos.label}}
                                        {{form.puntos}}
                                        <ul id="id_diasRecoleccion">
                                        {% for value, text in form.diasRecoleccion.field.choices %}
                                            <li>
                                                <p>
                                                <label for="id_providers_{{ forloop.counter0 }}">
                                                <input id="id_providers_{{ forloop.counter0 }}" name="{{ form.diasRecoleccion.name }}" type="checkbox" value="{{ value }}"{% if value in checked_providers %} checked="checked"{% endif %}>
                                                <span>{{ text }}</span>
                                                </label>
                                                </p>
                                            </li> 
                                        {% endfor %}
                                        </ul>
                                        <div class="center-align">
                                            <button data-tooltip="'Click' para actuializar el intermediario" data-position="bottom" class="btn waves-effect waves-light green lighten-1 tooltipped" type="submit">Actualizar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}